.pagination
	padding: 10px
.card
	width: 100%
.card form
	padding: 20px
.card-header
	display: flex
	justify-content: space-between

.form_errors
	border: 1px solid red !important
.mess_error
	color: red !important
	padding: 0
	margin: 0 0 5px 0