<template>
    <div class="departments">
        <div class="card">
            <div class="card-header">
                <h3>Departments</h3>
                <a href="/departments/add" class="btn btn-primary">Add</a>
            </div>
            <table class="table">
                <tbody>
                <tr v-for="department in vsDepartments.data" :key="department.id">
                    <td><img :src="getImg( department.logo )"/></td>
                    <td>
                        <h5>{{ department.name }}</h5>
                        {{ department.description }}
                    </td>
                    <td>
                        <h5>Users</h5>
                        <ol>
                            <li v-for="user in department.users">{{ user.name }}</li>
                        </ol>
                    </td>
                    <VcNavPanel :navData="{ id: department.id, route: vcRoute, name: department.name }" @removeItem="removeDep( $event )"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <VcPagination
                    :key="vsDepartments.last_page"
                    :prev="vsDepartments.prev_page_url"
                    :next="vsDepartments.next_page_url"
                    :max="vsDepartments.last_page"
                    :current="vsDepartments.current_page"
                    :link="vcRoute"
            />
        </div>
    </div>

</template>

<script>
	import VcNavPanel from "./vc-nav-panel";
	import VcPagination from "./vc-paginate";

	export default {
		name : "vc-departments",
		components : {
			VcNavPanel,
			VcPagination
        },
		props : {
			departments : {
				type: Object
			}
        },
		data(){
			return {
				vsDepartments : this.departments,
				vcRoute : '/departments'
			}
		},
		methods : {
			getImg( link = '' ){
				if( link ){
					return '/storage/'+link;
				}
				else return '/storage/app/logo/no_image.jpg';
			},
			removeDep( id ){
				axios.post(this.vcRoute+'/delete',{
					data: {
						page : this.vsDepartments.current_page,
						id : id
					}
				}).then((response)=>{
					this.vsDepartments = response.data;
				}).catch(error => console.log(error));

			}
		},
        mounted(){
			console.log( this.vsDepartments );
        }
	}
</script>

<style scoped>
    .departments{
        width: 100%;
    }
    td img {
        max-width: 150px;
    }
    h5 {
        font-weight: 700;
    }
</style>