<template>
    <form name="department" @submit.prevent="saveData">
        <div class="form-group">
            <label for="us_name">Name</label>
            <p v-for="name in current_errors.name" class="mess_error">{{ name }}</p>
            <input type="text"
                   class="form-control"
                   id="us_name"
                   placeholder="Name"
                   :value="vcCurrent.name"
                   @input="vcCurrent.name = $event.target.value"
                   :class="{ form_current_errors : current_errors.name}"/>
        </div>
        <div class="form-group">
            <label for="us_desc">Description</label>
            <p v-for="desc in current_errors.description" class="mess_error">{{ desc }}</p>
            <textarea class="form-control"
                      id="us_desc"
                      rows="10"
                      placeholder="Description"
                      :value="vcCurrent.description"
                      @input="vcCurrent.description = $event.target.value"
                      :class="{ form_current_errors : current_errors.description}">
            </textarea>
        </div>
        <div class="form-group">
            <p v-for="logo in current_errors.logo" class="mess_error">{{ logo }}</p>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="load_logo" ref="file" @change="handleFile">
                <label v-if="fileData.name " class="custom-file-label" for="load_logo">{{ fileData.name }}</label>
                <label v-else class="custom-file-label" for="load_logo">Upload logo</label>
            </div>
        </div>
        <div class="form-group users_list">
            <h5>Users</h5>
            <label v-for="user in userList" :key="user.id">
                <input type="checkbox" name="'users[]" :value="user.id" v-model="usersData" @change="getData( user.id )"/>
                <span>
                    <span>{{ user.name }}</span>
                    <a :href="'mailto:'+user.email" class="user_email">( {{ user.email }} )</a>
                </span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</template>

<script>
	export default {
		name : "vc-department",
		props : {
			department : {
				type : Object,
				default : function(){
					return {
						name : '',
						description : '',
						logo : {},
						users : [],
						usedUsers : []
					}
				}
			}
		},
		data(){
			return {
				vcCurrent : this.department,
				route : '/departments/insert',
				errors : {
					name : '',
					logo : ''
				},
				current_errors : {},
				add : true,
				userList : this.department.users,
				usersData : this.department.usedUsers,
				fileData : '',
				massageTheme : 'added',
				checkedUser : true
			}
		},
		methods : {
			saveData(){

				let formData = new FormData();

				if( this.vcCurrent.action === 'edit' ){
					this.route = '/departments/update';
					this.massageTheme = 'updated';
					formData.append( 'id', this.vcCurrent.id )
				} else {
					formData.append( 'users', this.usersData );
				}

				this.vcCurrent.name !== undefined ? formData.append( 'name', this.vcCurrent.name ) : formData.append( 'name', '' );
				this.vcCurrent.description !== undefined ? formData.append( 'description', this.vcCurrent.description ) : formData.append( 'description', '' );
				this.vcCurrent.logo !== undefined ? formData.append( 'logo', this.fileData ) : formData.append( 'logo', '' );

				axios.post(
					this.route,
					formData,
					{
						headers : { 'content-type' : 'multipart/form-data' }

					} ).then( ( response ) => {
					this.current_errors = {};
					this.$alert( 'Description was ' + this.massageTheme + '!', 'Success!', "success" ).then( () => {} );
				} ).catch( error => {
					this.current_errors = {};
					this.setErrFields( error.response.data );
				} );

			},
			setErrFields( data ){
				if( data ){
					for( let nameField in this.errors ){
						for( let key in data.errors ){
							if( data.errors.hasOwnProperty( key ) ){
								if( key === nameField ){
									this.current_errors[ key ] = data.errors[ key ];
								}
							}
						}
					}
				}
			},
			handleFile( e ){
				this.fileData = e.target.files[ 0 ]
			},
			getData( $id ){

				if( this.vcCurrent.action === 'edit' ){

					let formData = new FormData();
					formData.append( 'user_id', $id );
					formData.append( 'department', this.vcCurrent.id );

					axios.post(
						'/DepartmentRelController/department',
						formData
					).then( ( response ) => {
						console.log( response.data );
					} );

				}
			}

		},
		mounted(){
			if( this.vcCurrent.action === 'edit' ){
				this.add = false;
			}
			console.log( this.department );
		}
	}
</script>

<style scoped>
    .users_list {
        display: flex;
        flex-direction: column;
    }

</style>