<template>
    <td>
        <a :href="getId">Edit</a>
        <button @click="deleteItem">Delete</button>
    </td>
</template>

<script>
	export default {
		name : "vc-nav-panel",
        props : {
			navData : {
				type: Object
			}
        },
        data(){
			return {
				vcId    : this.navData.id,
                vcName  : this.navData.name,
                vcRoute : this.navData.route
            }
        },
        methods : {

            deleteItem(){

            	const delMessage = "Are you sure you want to delete \""+this.vcName +"\"?";

            	this.$confirm( delMessage ,"Deleting!", "warning").then(() => {
					this.$emit('removeItem', this.vcId );
					this.$fire({
						title : this.vcName+" was deleted!",
						type: "success"
					}).then(res => {

					});
				});
            }
        },
        computed : {
			getId(){
				return this.vcRoute+'/edit/'+Number( this.vcId );
            }
        }

	}
</script>

<style scoped>
    td {
     width: 175px;
    }
    td a,
    td button {
        border: none;
        border-radius: 3px;
        color: white;
    }
    td a {
        text-decoration: none;
        background: #6e767d;
        padding: 7px 20px;
    }
    td button {
        padding: 5px 20px;
        background: #e1352f;
    }
</style>