<template>
    <nav aria-label="Page navigation example" v-if="hasPages">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" :href="pagData.prev" v-if="pagData.prev">&#8249;</a>
            </li>

            <li v-for="page in getOtherPages" class="page-item" :class="{ active: page.current }">
                <a class="page-link" :href="page.link">{{ page.number }}</a>
            </li>

            <li class="page-item">
                <a class="page-link" :href="pagData.next" v-if="pagData.next">&#8250;</a>
            </li>
        </ul>
    </nav>
</template>

<script>
	export default {
		name : "vc-paginate",
		props : {
			prev : {
                value: [String,NaN]
            },
			next : {
				value: [String,NaN]
            },
			max  : {
				type : Number,
				default: 0
            },
			current : {
				type : Number,
				default: 0
            },
			link : {
				value: [String,NaN]
            },
		},
		data(){
			return {
				pagData : {
					prev : this.prev,
					next : this.next,
					max  : this.max,
					current : this.current,
					link : this.link
				},
				pageList : []
			}
		},
		methods : {
			hasPages(){
				if( this.pagData.max <= 1 ) return true;
			}
		},
		computed : {
			getOtherPages(){
				for( let $i = 1; $i <= this.pagData.max; $i++ ){
					let current = $i === this.pagData.current;
					this.pageList.push( {
						'number' : $i,
						'current' : current,
						'link' : this.pagData.link + '?page=' + $i
					} );
				}
				return this.pageList;
			}
		}
	}
</script>

<style scoped>

</style>