<template>
    <form name="user" @submit.prevent="saveData">
        <div class="form-group">
            <label for="us_name">User name</label>
            <p v-if="current_errors.name" class="mess_error">{{ current_errors.name }}</p>
            <input type="text"
                   class="form-control"
                   id="us_name"
                   placeholder="Name"
                   :value="vcCurrent.name"
                   @input="vcCurrent.name = $event.target.value"
                   :class="{ form_current_errors : current_errors.name}">
        </div>
        <div class="form-group">
            <label for="us_email">Email address</label>
            <p v-if="current_errors.email" class="mess_error">{{ current_errors.email }}</p>
            <input type="email"
                   class="form-control"
                   id="us_email"
                   placeholder="Email"
                   :value="vcCurrent.email"
                   @input="vcCurrent.email = $event.target.value"
                   :class="{ form_current_errors : current_errors.email }"
                   :disabled="add">
        </div>
        <div class="form-group">
            <label for="us_pass">New password</label>
            <p v-if="current_errors.password" class="mess_error">{{ current_errors.password }}</p>
            <input type="password"
                   class="form-control"
                   id="us_pass"
                   placeholder="Password"
                   @input="vcCurrent.password = $event.target.value"
                   :class="{ form_current_errors : current_errors.password}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</template>

<script>
	export default {
		name : "vc-user",
        props: {
			user : {
				type : Object,
                default : {
                	name   : '',
                    email  : '',
					password : '',
                    action : false
                }
            }
        },
        data(){
			return {
				vcCurrent : this.user,
				route     : '/users/insert',
                errors : {
					name : '',
					email: '',
					password : ''
                },
				current_errors : {},
                add : false,
                massageTheme : 'added'
            }
        },
        methods : {
			saveData(){

				if( this.vcCurrent.action === 'edit' ){
					this.route = '/users/update';
					this.massageTheme = 'updated';
                }

                axios.post( this.route ,{
                    data: this.vcCurrent
                }).then((response)=>{
                     if( response.data > 0 ){
                     	console.log( response.data );
						 this.current_errors = {};
						 this.$alert( 'User was '+this.massageTheme+'!' ,'Success!', "success").then(() => {});
                     }
                }).catch(error => {
					this.current_errors = {};
                    this.setErrFields( error.response.data );
                });

            },
            setErrFields( data ){
				if( data ){
					for( let nameField in this.errors ){
						for( let key in data.errors ){
							if( data.errors.hasOwnProperty( key ) ){
								let nameErr = key.split('.')[1];
								if( nameErr === nameField ){
									this.current_errors[nameErr] = this.prepareMessage( data.errors[key][0], nameErr );
								}
                            }
						}
					}
                }
            },
            prepareMessage( $message, $name ){
				$message = $message.replace( 'data.'+$name , $name );
				return $message;
            },

        },
        mounted(){
			if( this.vcCurrent.action === 'edit' ){
				this.add = true;
			}
        }
	}
</script>

<style scoped>

</style>