<template>
    <div class="users">
        <div class="card">
            <div class="card-header">
                <h3>Users</h3>
                <a href="/users/add" class="btn btn-primary">Add</a>
            </div>
            <table class="table">
                <tbody>
                <tr v-for="user in vcUsers.data" :key="user.id">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <VcNavPanel :navData="{ id: user.id, route: vcRoute, name : user.name }" @removeItem="removeUser( $event )"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <VcPagination
                    :key="vcUsers.last_page"
                    :prev="vcUsers.prev_page_url"
                    :next="vcUsers.next_page_url"
                    :max="vcUsers.last_page"
                    :current="vcUsers.current_page"
                    :link="vcRoute"
            />
        </div>
    </div>
</template>

<script>

	import VcNavPanel from "./vc-nav-panel";
    import VcPagination from "./vc-paginate";

	export default {
		name : "vc-users",
		components : {
			VcNavPanel,
			VcPagination
        },
		props : {
			users : {
				type : Object
            }
        },
        data(){
			return {
				vcUsers : this.users,
				vcRoute : '/users',
            }
        },
        methods : {
            removeUser( id ){
				axios.post(this.vcRoute+'/delete',{
					data: {
						page : this.vcUsers.current_page,
                        id : id
                    }
				}).then((response)=>{
					this.vcUsers = response.data;
				}).catch(error => console.log(error));
            }
        },
        mounted(){
			console.log( this.vcUsers );
        }
	}
</script>

<style scoped>
    .users {
        width: 100%;
    }
    .users table{
        margin: 0;
    }
</style>